@import '../../Styles/Mixin.scss';

#home {
    #banner {
        background: url(../../images/home/Imagem_banner.png);
        width: 100%;
        height: 550px;
        background-position: center -25px;
        padding: 33px 0;

        .title-banner {
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 30px;
            margin-right: 115px;

            b {
                font-weight: 700;
            }
        }
        .list-ck {
            margin-bottom: 45px;
            margin-right: 115px;

            li {
                margin-bottom: 10px;

                span {
                    margin-right: 15px;
                }
            }

        }

        .ver-planos {
            width: 500px;
            text-align: left;
            padding-left: 35px;
            position: relative;
            border-radius: 15px;
            margin-right: 105px;
            padding: 5px 35px;

            a {
                position: absolute;
                right: -34px;
                top: 14px;
                width: 184px;
                text-align: center;
                padding: 9px 0;
                border-radius: 14px;
                text-transform: uppercase;
                font-weight: 700;
            }
            a:hover{
                color: #fff;
            }
        }
    }

    #para-voce {
        margin-top: 60px;
        margin-bottom: 50px;

        .title {
            margin-bottom: 65px;

            h2 {
                font-weight: 400;

                b {
                    font-weight: 700;
                }
            }
        }

        .cartoes {
            padding-left: 5%;
            position: relative;

            img {
                width: 555px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .text {
            padding-right: 5%;

            p {
                margin-bottom: 55px;
            }

            .bt {
                text-transform: uppercase;
                font-weight: 600;
            }
            .bt:hover{
                color: $color_purple;
            }
        }
    }

    #especialidades {
        background: url('../../images/home/fundo_verde.jpg');
        width: 100%;
        height: 825px;
        padding: 115px 165px;
        background-position-x: 35%;

        .box {
            height: 315px;
            width: 100%;
            text-align: center;
            border-radius: 10px;
            margin: 50px 0 65px 0;
            padding: 15px 19px;

            img {
                display: block;
                margin: 0px auto 15px auto;
            }

            span.title {
                margin-bottom: 10px;
                display: block;
            }

            span.obs {
                font-size: 12px;
            }

            a.link {
                text-decoration: underline;
                margin-top: 15px;
                display: block;
            }
        }

        .fale-consultor {
            padding: 30px 0;
            border-radius: 15px;

            a {
                text-transform: uppercase;
                margin-left: 15px;
            }
        }
    }

    #banner-full {
        text-align: center;
        display: block;
        overflow: hidden;
        text-align: center;
        background: url(../../images/home/banner-full.png);
        background-position: center;
        height: 588px;
        width: 100%;
        background-repeat: no-repeat;

        img {
            display: inline-block;
        }
    }

    #para-todos {
        padding: 85px 140px;

        .bx-1 {
            p {
                margin: 35px 0 45px 0;
            }

            span {
                display: block;
                margin-bottom: 55px;
            }

            a {
                padding: 15px 35px;
            }
        }

        .box {
            text-align: center;
            padding: 35px 30px;
            position: relative;
            max-width: 335px;
            border-radius: 12px;
            display: inline-block;
            min-height: 440px;
            max-height: 440px;
            img.detail {
                position: absolute;
                top: 0;
            }

            img.user {
                width: 150px;
                height: 150px;
                border-radius: 100px;
                margin-bottom: 35px;
            }

            p>span {
                display: block;
            }

            &>span {
                margin-top: 35px;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 750px){
    #home {
        #banner{ 
            .title-banner{
                margin-right: 0;
                font-size: 25px;
                margin-bottom: 10px;
            }
            .list-ck{
                margin-right: 0;
                margin-bottom: 20px;
                li{
                    font-size: 25px;
                    img{
                        width: 24px;
                        margin-bottom: 6px;
                    }
                }
                li.cl-green{
                    font-weight: 700;
                }
            }
            .ver-planos{
                margin-right: 38px;
                width: 579px;
            }
        }
        #para-voce{
            .text{
                text-align: center;
            }
        }
        #especialidades{
            padding: 115px 0;
            height: auto;
            background: none;
            background-color: #00b7bf;
            .box{
                height: auto;
                padding: 30px 20px;
                span.obs {
                    font-size: 27px;
                }
                a.link {
                    font-size: 27px;
                }
            }
            .fale-consultor{
                a{
                    display: block;
                    margin: 15px 60px 0 60px;
                    padding: 32px 0;
                }
            }
        }
        #banner-full{
            background-position: -919px
        }
        #para-todos {
            padding: 45px 0px;
            .box{
                max-width: initial;
                min-height: auto;
                max-height: initial;
                margin-bottom: 45px;
                img.user {
                    width: 200px;
                    height: 200px;
                }
            }
            .bx-1{
                text-align: center;
                p{
                    margin: auto 0 auto 0;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                } 
                span {
                    display: block;
                    margin-bottom: 35px;
                }
                a{
                    font-size: 30px;
                    margin-bottom: 55px;
                    display: inline-block;
                    padding: 30px 54px;
                }
            }
        }
    }
}